@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, 'sans-serif';
}
body{
    display: flex;
    width: 100%;
}
main{
    height: 100svh;
    width: 80%;
    padding: 1rem 4rem;
    background-color: #f0f0f0;
}
header{
    background-color: #3498db;
    width: 30%;
    padding: 1.7rem 1rem;
}
ul,li{
    list-style: none;
}
.logout-btn{
    background-color: #3498db;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
}
.logout-btn:hover{
    background-color: red;
}
input{
    background-color: #f0f0f0;
    width: 100%;
    padding: 0.3rem;
    border: none;
    outline: none;
}
input::placeholder{
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav p{
    font-size: 1.2rem;
    font-weight: 500;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
li img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
li a{
    color: #fff;
    text-decoration: none;
}
.img-wrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav-bar{
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.6rem;
    gap: 0.2rem;
    border-radius: 5px;

}
.search-icon{
    color: black;
}
.text{
    font-size: 6rem;
}
.day{
    display: flex;
    gap: 1rem;
}
.day:hover{
    cursor: pointer;
}
.contain-box{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.w-box{
    background-color: #fff;
    display: grid;
    place-items: center;
    height: 18vh;
    border-radius: 5px;
    margin: 2rem 0;
    padding: 10px;
}
.contain-box-st{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
h3{
    margin: 1rem 0;
}
.s-box{
    background-color: #fff;
    height: 25vh;
    border-radius: 5px;
    padding: 20px;
}

.infos{
    display: grid;
    place-items: center;
}

.infos h1{
    font-size: 6rem;
    text-align: center;
}
.infos h2{
    font-size: 2rem;
    text-align: center;
}
.infos p{
    font-size: 1.5rem;
    text-align: center;
}

.infos img{
    object-fit: cover;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.day-icon{
    width: 50%;
}
.temp{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}
.min-temp{
    color: #a1a1a1;
}
.num-info{
    font-size: 3rem;
    margin: 1rem 0;
}
.num-info span{
    font-size: 1rem;
}
.location{
    margin: 0 auto;
    text-transform: capitalize;
}
.sun-box{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.sunrise-time,
.sunset-time{
    font-size: 2rem;
}
.sun-box img{
    max-width: 20%;
}

.humidity-box{
    display: flex;
    width: 100%;
    gap: 1.5rem;
}
.humidity-box img{
   max-width: 40%;
   object-fit: cover;
}
.temp-feel-mobile,
.mb-day,
.mb-hour{
    display: none;
}

@media screen and (max-width: 768px) {
    body{
        display: block;
        background-color: #3498db;
    }
    header{
        background-image: url('/public/img/bg.jpg');
        min-width: 100vw;
        height: 100vh;
    }
    main{
        display: none;
    }
    .contain-box-st{
        display: none;
    }
    .contain-box{
        display: none;
    }
    nav{
        display: none;
    }
    .infos img{
        /* display: none; */
        width: 30%;
    }
    .infos h1{
       font-size: 2rem;
    }
    .infos h2{
        margin: 0;
    }
    .infos p{
       font-size: 1rem;
    }
    .min-temp{
        color: black;
    }
    .fa-arrow-up{
        color: red;
    }
    .fa-arrow-down{
        color: rgb(255, 255, 255);
    }
    .temp-feel-mobile{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .mb-hour{
        display: flex;
        place-items: center;
        width: 100%;
        height: 20%;
        margin: 1rem 0;
        background-color: #f0f0f0;
        border-radius: 1rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    .day-icon{
        width: 70%;
    }
    .mb-hour::-webkit-scrollbar { 
        display: none;
     }
    .mb-hour div {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        min-width: 20vw;
        background-color: #f0f0f0;
    }
    .mb-day{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        background-color: #f0f0f0;
        border-radius: 1rem;
        width: 100%;
        gap: 10px;
    }
    .mb-day div {
        width: 100%;
    }
    .mb-day-box{
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        gap: 6rem;
    }
    .mb-day-box img{
        width: 30px;
    }
    .temp-info{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
}